
<% include partials/navbar.ejs %>
<% include partials/header.ejs %>
<main class="container">

    <h1><%= title %> Page</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <h1>My sister</h1>
    <img id="me" src="/images/a.jpg"
         alt="Me" style="width:500px;height:550px;">
</main>
