
<% include partials/navbar.ejs %>
<% include partials/header.ejs %>
<main class="container">

    <h1><%= title %> Page</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <h1>My mother</h1>
</main>
